.body {
	margin: 0 !important;
	padding: 0 !important;
	color: $black;
	font-size: $font-size-base;
	font-family: $font-family-base;
	font-weight: 100;
}
 
/* Background Colors */
.bg-white{
    background-color: $white;
}

a {
	cursor: pointer;
	text-decoration: none;	
	color: $black;
	&:hover {color: $orange;}
}

.underline {
	display: inline-block;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		border-bottom: dotted 1px $black;
		padding-bottom: 3px;		
		.submenu-shown & {
			border-bottom-color: $white;
		}
	}
	
	&.active, &:hover {
		color: $orange;
		&:after {
			border-bottom-color: $orange;
		}		
	}
	
	
	.submenu-shown & {
		color: $white;
		&:after {
			border-bottom-color: $white;
		}
		&.active, &:hover {
			color: $orange;
			&:after {
				border-bottom-color: $orange;
			}		
		}
	}
}