//Clients Slider
.clients {		
	@extend .text-center;
	margin-top: 4rem;
	.slick-slider {		
		.slide-content {		
			> * {	
				@extend .d-flex, .justify-content-center, .align-items-center;
			}
			img {
				@extend .img-fluid;								
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	&-testimonial {
		width: 33.33%;
		margin-left: auto;
		margin-right: auto;
		background-size: 70% 1rem;
		background-position: top center;
		background-repeat: no-repeat;
		padding-top: 1.5rem;
	}
	.hading {
		@extend .mb-20;
	}
}