//Contact
.section-Contact {
	.section-container {
		background-size: auto;
		background-position: bottom center;
		background-repeat: repeat-x;
		background-attachment: fixed;
	}
	.get-in-touch {
		a {
			@extend .underline;
		}
	}
	
	.address {		
		.card {
			border: 0;
			@include border-radius(0);
			background-color: transparent;		
			&:after {
				content: "";
				position: absolute;
				width:1px;
				top: 0;
				left: 2.25rem;
				bottom: 0;
				border-right: dotted 1px $gray-500;
			}
			
			&-header {
				@include border-radius(0);
				border: 0;
				background-color: transparent;				
				position: relative;
				@extend .p-0;
				z-index: 1;
				&:after {
					content: "";
					position: absolute;
					width:  10px;
					height: 10px;
					top: calc(50% - 5px);
					left: 2rem;
					background-color: $gray-700;
					@extend .rounded-circle;						
					transform: scale(1);
					transition: all 0.25s ease-in-out;
				}
				.btn {
					@extend .d-flex, .w-100, .text-start, .py-10, .ps-25, .pe-15;
					text-decoration: none;
					color: $black;
					&:focus {
						box-shadow: none;
					}
					
					span {
						@extend .underline;
						&:hover {
							color: $gray-700;
							&:after {
								border-bottom-color: $gray-700;
							}
						}
					}
					
					svg {
						z-index: 1;
						@extend .me-20;
						transform: scale(0);
					}
				}
			}
			
			&-body {
				padding-left: 4.375rem;
				@extend .py-10;
			}
			
			&.active {
				.card {
					&-header {
						&:after {
							background-color: $orange;
							transform: scale(4);
							transition: all 0.25s ease-in-out;					
						}
						
						.btn {							
							span {
								color: $orange;
								&:after {
									border-bottom-color: $orange;
								}
							}
							svg {								
								transform: scale(1);
							}
						}
					}
				}
			}
		}
		
	}
}	