//Digital Marketing
.section-DigitalMarketing {	
	
	.tab-contents {
		position: relative;
		//z-index: 1;
	}
	.tab-pane {			
		 p {
			@extend .mb-0;
		}
		a.active {
			@extend .underline;
			color: $gray-700;
			&:after {
				border-bottom-color: $gray-700;
			}
			&:hover {
				color: $orange;
				&:after {
					border-bottom-color: $orange;
				}				
			}
		}
	}
	.tab-links {	
		position: relative;
		top: -6rem;
		
		.nav {
			@extend .d-block;
		}
		
		a {
			@extend .p-10, .d-inline-block, .text-center, .rounded-circle, .ratio, .ratio-1x1;
			position: relative;
			width: 5rem;
			background-color: $gray-800;
			box-shadow:
				  0 0 0 0px #fff,					  
				  0 0 0 1px $gray-700;
				  transition: all .5s ease;		
			&:hover {				
				box-shadow:
				  0 0 0 6px #fff,					  
				  0 0 0 7px $gray-300;
				
			}
			&.active {
				background-color: $orange;
				transform: scale(1.2);
				box-shadow:
				  0 0 0 6px #fff,					  
				  0 0 0 7px rgba(255, 96, 0, 0.2);
				  
			}
			> * {
				@extend .d-flex, .flex-wrap, .justify-content-center, .align-items-center;
			}
			
			img {
				@extend .img-fluid;	
				max-width: 50%;
			}
			
			&:nth-child(1) {
				width: 6rem;
			}
			
			&:nth-child(2) {
				top: rem;
				left: 50rem;
			}
			
			&:nth-child(3) {
				top: 5rem;
				left: -6rem;
				width: 4rem;
			}
			
			&:nth-child(4) {
				top: 13rem;
				left: -5rem;
				width: 6rem;
			}
			
			&:nth-child(5) {
				top: 6rem;
				left: -1rem;
				width: 6rem;
			}
			
			&:nth-child(6) {
				top: 13rem;
				left: -5rem;
				width: 4rem;
			}
			
			&:nth-child(7) {
				top: 8rem;
				left: -1rem;
				width: 5rem;
			}
			
			&:nth-child(8) {
				top: 14rem;
				left: 1rem;
				width: 7rem;
			}
			
			&:nth-child(9) {
				top: 4rem;
				left: 1rem;
				width: 6rem;
			}
			
			&:nth-child(10) {
				top: 11rem;
				left: 3rem;
				width: 5rem;
			}
			
			&:nth-child(11) {
				top: 13rem;
				left: 6rem;
				width: 6rem;
			}
			
			&:nth-child(12) {
				top: 6rem;
				left: 3rem;
				width: 4rem;
			}
			
		}		
	}
	
}