//Highlights Slider
.highlights {
	.slick-slide {
		@extend .text-center;
		padding-left: 5rem;
		padding-right: 5rem;
	}	
	.highlight {		
		margin-left: auto;
		margin-right: auto;	
		@extend .ratio, .ratio-1x1;
		> div {
			color: $white;
			@extend .text-center, .rounded-circle, .d-flex, .flex-wrap, .justify-content-center, .align-items-center, .p-40;
		}
		.title {
			color: $white;
			font-size: 5rem;
			line-height: 1;
		}
		p{
			font-size: $font-size-lg;
		}
	}	
}
