// Consulting
.section-Consulting {		
	.section-container {
		background-repeat: no-repeat;	
		background-position: top center;
		background-size: cover;
		overflow: hidden;
		position: relative;
		
		.video-container{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 0;
			video {
				width: 100%;
				height: auto;
				objectfit: contain;
				position: absolute;
				top: 50%;
				transform: translateY(-50%)
			}
		}
		.content {
			position: relative;
			z-index: 1;
			.ratio > * {
				top: 0;
			}
			&-right {
				position: relative;
				&:after {
					content: "";
					position: absolute;
					left: 0;
					right: -30px;
					top: -13.25rem;
					bottom: 0;
					height: 100vh;
					background-color: rgba(255, 255, 255, 0.8);
					z-index: -1;				
				}
			}			
		}
	}	
}