/* Navigation - Top */
.nav-top {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	//transition: all 0s ease;
	background-color: $white;
	transition: background-color 0s ease 0.5s;

	.navbar-nav {
		.logo-container {
			display: block;
			float: left;
			position: relative;
			width: 50px;
			height: 24px;
			>img {
				position: absolute;
				left: 0;
				top: 0;
				opacity: 1;
				width: inherit;
				height: inherit;
				transition: opacity .25s ease 0.25s;
				&.logo-light {
					opacity: 0;
				}
			}
		}
		.logo-text {
			font-family: $pt-sans-narrow;
			font-size: 1.75rem;
			line-height: 1.75rem;
			margin-left: 0.5rem;
			font-weight: 700;
			span:first-child {
				color: $orange;
			}
			span:last-child {
				color: $black;
				transition: color .25s ease 0.25s;
			}
		}
		.nav-item {
			@extend .pt-2, .pb-2, .ps-lg-15, .pe-lg-15;
			.nav-link {
				@extend .underline, .ps-lg-0, .pe-lg-0, .pt-0, .pb-0;
				transition: color .2s ease .2s;
				color: $black;
				&.active,
				&:hover {
					transition: none;
				}
				&:after {
					transition: border-bottom-color .2s ease .1s;
				}
			}
		}
	}
	&.no-bg {
		transition: all 0s ease-in-out;
		background-color: transparent;
		//transition: background-color .5s ease .5s;
		.navbar-nav {
				.logo-container {
					>img {
						opacity: 0;

						&.logo-light {
							opacity: 1;
							transition: opacity 0.25s ease 0s;
						}
					}
				}

				.logo-text {
					span:last-child {
						color: $white;
						transition: color .25s ease;
					}
				}
			.nav-item {
				.nav-link {
					color: $white;
					transition: color .2s ease;
					&:after {
						border-bottom-color: $white;
						//transition: color 0s ease 0s;
					}
					&.active,
					&:hover {
						color: $orange;
						&:after {
							border-bottom-color: $orange;
						}
					}					
				}
			}
		}
	}
}

.scroll-top {
	font-size: 2rem;
	color: $orange;
	position: fixed;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 6;

	//1200 and more
	@include media-breakpoint-up(lg) {
		margin-left: 600px;
	}

	z-index: 6;
	opacity: 0;
	transition: opacity .5s ease;

	&.show {
		opacity: 1;
		transition: opacity .5s ease;
	}
}