//Portfolio Slider
.portfolio {
	.slick-slider{		
		.slick-slide {
			@extend .text-end;
			padding: 0.5rem;
			border-left: dotted 1px $gray-500;	
			border-top: dotted 1px $gray-500;	
			.slide-content {
				
				position: relative;
				
				img {
					@extend .img-fluid;
					height: 350px;				
				}
				.detail {
					color: $white;
					@extend .py-30, .px-40, .d-flex, .flex-wrap, .align-items-end;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 0;
					background-color: rgba(33, 37, 41, 0.80);
					opacity: 0;
					transition: opacity 0.25s ease-in-out 0s;
					a {
						color: $white;
						&:after {
							border-bottom-color: $white;
						}
						@extend .underline;
					}
				}
				
				&:hover {
					cursor: move;
					.detail {
						opacity: 1;
						transition: opacity 0.25s ease-in-out 0s;
						
					}
				}
			}		
		}
		
		.slick-dots {
			bottom: 0;
			li {
				display: block;
				float: left;
				width: 25%;
				margin: 0;
				height: 0.5rem;
				button:before {
					content: "";
					right: 0;
					bottom:0;
					background-color: $gray-900;
					width: 100%;
					height: 0.5rem;
					opacity: 1;
					border-left: solid 1px $white;
				}
				&.slick-active {
					button:before {
						background-color: $orange;
					}
				}
			}
		}
	}
}

