//header
.section {	
	&-header {
		flex: 0 0 100%;
		max-width: 100%;
		> .container {
			position: relative;		
			@extend .px-30, .pt-60, .pb-20;
			> .row {
				@extend .justify-content-end, .gx-60;
			}
			z-index: 3;
		}		
		
		.navbar-toggler {
			@extend .d-inline-block;
			.hamburger-menu, .title{
				display: block;
				float:left;
			}
			.hamburger-menu {
				margin-top: 2px;
			}
		}
		&.show {
			.section__title, .section__subtitle {
				color: $white;
				transition: color 0.5s ease  0s;
			}
		}
		
	}

	&__title, &__subtitle {
		transition: color 0.25s ease  0.25s;
	}

	&__title {
		font-family: $pt-sans-narrow; 
		@extend .text-end;
		font-size: 1.875rem;		
		margin-bottom: 0;
		color: $black;
		.inner-page & {
			color: $white;
		 }	
	}

	&__subtitle{
		@extend .text-end;	
		font-size: 1.125rem;
	}
	
	//Submenu
	.submenu {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $gray-800;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;		
		transition: height .5s ease-in-out;
		z-index: 2;		
		height: 0;
		overflow: hidden;
		
		.container {
			margin-top: 14rem;
		}

		.nav {			
			opacity: 0;
			transition: opacity .25s ease;
		}

		.nav-item {
			@extend .pt-1, .pb-1, .ps-lg-15, .pe-lg-15;
			.nav-link {
				color: $white;
				@extend .underline, .ps-lg-0, .pe-lg-0, .pt-0, .pb-0;	
				&:after {
					border-block-end-color: $white;
				}
			}
		}
		&.show {			
			height: 100%;
			transition: height .5s ease-in-out;
			.nav {
				opacity: 1;	
			}
		}
	}	
}