//Intro Sections
.section {	
	min-height: 100vh;
	border-bottom: dotted 1px $gray-500;
	position: relative;
	@extend .d-flex, .flex-wrap;
	&-container {
		flex: 0 0 100%;
		max-width: 100%;
		@extend .d-flex, .flex-wrap, .align-content-start, .pt-60, .pb-60;
		position: relative;
		.content {						
			text-align: justify;			
		}
	}	
	
	&.inner-page {
		.section-header {
			color: $white;
		}
	}
}
