// Web Design
.section-WebDesign {
	background-image: url("../images/web-design.png");
	.section-container {			
		background-size: auto  100%;
		background-position: calc(50% - 33rem) 0;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
}