// Web Development
.section-WebDevelopment {		
	.section-container {			
		background-size: 656px auto;
		background-position: calc(50% - 28rem) 6rem;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}		
}