/*
 .navbar-toggler {
	@extend .py-10, .px-15;
	.arrow {		
		width: 4px;
		height: 1.25rem;
		display: inline-block;
		position: relative;
		margin: 0 .625rem;
		span {
			top: .5rem;
			position: absolute;
			width: 14px;
			height: 2px;
			background-color: $orange;
			display: inline-block;
			transition: all .5s ease;
			border-radius: 25px;		

			&:first-of-type {
			  left: 0;
			  transform: rotate(-45deg);
			 }

			&:last-of-type {
			  right: 0;
			  transform: rotate(45deg);
			}
		}
	}
	
	&.collapsed {
		.arrow {
			span {
				&:first-of-type {
				  transform: rotate(45deg);
				 }

				&:last-of-type {
				   transform: rotate(-45deg);
				}
			}
		}
    }
}
    */


.navbar-toggler {    
    border: none;
    background: transparent !important;
    @extend .ms-20, .me-0, .p-0;
    margin-top: .5rem;

    .intro-header & {
        display: block;
    }
    
    

    &:focus {
        box-shadow: none;
    }

    &:after {
        content: none;
    }

    .icon-bar {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $orange;
        transition: all 0.2s;
        margin-top: 5px;
        /*& + .icon-bar {
            margin-top: 7px;
        }*/
    }
    
    &:hover {
        background: transparent !important;
    }    

    .top-bar,  .bottom-bar {
        transform: rotate(0);
    }

    .middle-bar {
        opacity: 1;
    }

    &.collapsed {
        .icon-bar {
            background-color: $orange;
        }
        .top-bar {
            transform: rotate(45deg);
            transform-origin: 5% 10%;
        }

        .middle-bar {
            opacity: 0;
        }

        .bottom-bar {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
        } 
    }
}

/*
.dropdown {
    .dropdown-toggle.btn{
        border: none;
        background: transparent !important;
        @extend .p-10;
        
        &:hover {
            background: transparent !important;
        }

        &:focus {
            box-shadow: none;
        }

        &:after {
            content: none;
        }

        .icon-bar {
            display: block;
            width: 28px;
            height: 1px;
            background-color: $orange;
            transition: all 0.2s;

            & + .icon-bar {
                margin-top: 7px;
            }
        }
        
        .top-bar,  .bottom-bar {
            transform: rotate(0);
        }

        .middle-bar {
            opacity: 1;
        }
          
    }
    
    &.show {
        .dropdown-toggle.btn{
            .top-bar {
                transform: rotate(45deg);
                transform-origin: 10% 10%;
            }
    
            .middle-bar {
                opacity: 0;
            }
    
            .bottom-bar {
                transform: rotate(-45deg);
                transform-origin: 10% 90%;
            } 
        }
    }
}
*/